@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.cusdisComments {
  max-width: variables.$layout-post-width;
  @include mixins.padding(0, 0.5);
  @include mixins.margin-auto();
}

@include mixins.breakpoint-lg {
  .cusdisComments {
    @include mixins.padding-equal(0);
  }
}