@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.comments {
  max-width: variables.$layout-post-width;
  @include mixins.margin-auto();
  @include mixins.margin-top(2);
  @include mixins.padding(0, 0.5);
}

@include mixins.breakpoint-lg {
  .comments {
    @include mixins.padding-equal(0);
  }
}

