@use "src/assets/styles/mixins";
@use "src/assets/styles/variables";

.post {
  grid-column: span 12;

  .wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .main {
    flex: 1;
    max-width: variables.$layout-post-single-width;
    min-width: 0;
  }

  .sidebar {
    display: none;
  }

  .content {
    @include mixins.margin-auto();
  }

  .footer {
    max-width: variables.$layout-post-width;
    @include mixins.padding(0, 0.5);
    @include mixins.margin-auto();
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include mixins.margin(1, 0, 0, 0);

    .buttonArticles {
      @include mixins.margin(0, 0.5, 0, 0);
    }
  }
}

@include mixins.breakpoint-md {
  .post {
    .wrapper {
      max-width: calc(variables.$layout-post-single-width + 250px);
      margin: 0 auto;
    }

    .sidebar {
      display: block;
      width: 200px;
      flex-shrink: 0;
    }

    .footer {
      @include mixins.padding-equal(0);
    }
  }
}

@include mixins.breakpoint-lg {
  .post {
    .buttons {
      left: 30px;
      max-width: none;
      position: fixed;
      top: 30px;
      @include mixins.margin(0, 0.5, 0, 0);
    }
  }
}
